doctype
html
  head
    title TeamCity Build Monitor
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/main.css")
  body(style="background-color=#000080")
    .container-fluid
      br
      if failingBuilds.length || investigatingBuilds.length
        each val in failingBuilds
          div.jumbotron.failingBuild
            h1
              |#{val.project} - #{val.name}
        each val in investigatingBuilds
          div.jumbotron.investigatingBuild
            h1
              |#{val.project} - #{val.name}
      else
        div.row.text-center
          img(src="http://cdn2.scratch.mit.edu/get_image/gallery/462881_170x100.png")
